.main-box{
    border: 2px black solid;
    height: 100vh;
}

.info-box{
    border: 2px red solid;
    
}

.title-top-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}